* {
  margin: 0;
  padding: 0;
}

body {
  background: url("background.jpg") no-repeat;
  background-size: cover;
  font-size: 16px;
  color: #777;
  font-weight: 300;
}

#box {
  position: relative;
  margin: 45px 30%;
  height: 700px;
  background: rgba(254, 254, 254, 0.85);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.form {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 500px;
  height: 400px;
}

input {
  background: transparent;
  outline: none;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 48px;
}